.movie {
  max-width: 360px;
  min-width: 100px;
  height: 319px;
  background-color: #222222;
  text-align: center;
}
.movie__title {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
.movie__title-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  margin: 0;
}
.movie__title-time {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #8B8B8B;
  margin: 0;
}
.movie__button {
  width: 100px;
  height: 29px;
  border: none;
  border-radius: 30px;
  background-color: #313131;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin: 14px auto;
  padding: 0;
}
.movie__button:hover {
  opacity: 80%;
  cursor: pointer;
}
.movie__img {
  width: 100%;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .movie {
    max-width: 342px;
    max-height: 309px;
  }
  .movie__title {
    max-width: 342px;
  }
  .movie__button {
    margin: 18px auto;
  }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
  .movie {
    max-width: 300px;
    height: 271px;
  }
  .movie__title {
    max-width: 300px;
    padding: 14px;
  }
  .movie__title-text {
    font-size: 12px;
  }
  .movie__title-time {
    font-size: 10px;
  }
  .movie__img {
    max-width: 300px;
    height: 168px;
  }
  .movie__button {
    margin: 14px 100px;
  }
}