.footer {
  max-height: 172px;
  max-width: 1140px;
  padding: 110px 70px 0;
  margin: 15px auto 0;
  flex-shrink: 0;
}
.footer__text {
  font-size: 13px;
  font-weight: 400;
  color: #8B8B8B;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #424242;
  height: 38px;
}
.footer__info {
  font-size: 13px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.footer__teacher {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.footer__year {
  margin: 0;
}
.footer__yandex {
  margin: 0 20px 0 0;
  text-decoration: none;
  color: white;
}
.footer__yandex:hover {
  opacity: 70%;
}
.footer__git {
  text-decoration: none;
  color: white;
  margin: 0;
}
.footer__git:hover {
  opacity: 70%;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer {
    padding: 80px 30px 0;
    margin: 0 auto 0;
    max-width: 708px;
  }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
  .footer {
    max-height: 253px;
    padding: 0 10px;
    margin-top: 130px;
    max-width: 300px;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer__info {
    font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 117px;
  }
  .footer__teacher {
    flex-direction: column;
    padding: 0;
  }
  .footer__yandex {
    margin: 30px 0 12px;
  }
}