.content__button {
  min-width: 1140px;
  border-radius: 6px;
  border: none;
  min-height: 36px;
  background-color: #2F2F2F;
  font-size: 12px;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 45px 70px 35px;
}
.content__button:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .content__button {
    min-width: 708px;
    margin: 70px 30px 80px;
  }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
  .content__button {
    min-width: 300px;
    margin: 65px 10px 27px;
  }
}