.page__block {
  max-width: 1280px;
  margin: 45px 70px 35px;
}
.page__block-button {
  width: 100%;
  display: block;
  border-radius: 6px;
  border: none;
  min-height: 36px;
  background-color: #2F2F2F;
  font-size: 12px;
  font-weight: 500;
  color: white;
  padding: 0;
}
.page__block-button:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .page__block {
    margin: 70px 30px 80px;
  }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
  .page__block {
    margin: 65px 10px 27px;
  }
}