.navigate {
  display: none;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .navigate {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s;
    top: 0px;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 30%);
    display: block;
  }
  .navigate__popup {
    width: 520px;
    height: 1024px;
    margin: 0 0 0 248px;
    background-color: #202020;
  }
  .navigate_opened {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.6s;
  }
  .navigate__exit {
    background-color: #202020;
    border: none;
    color: white;
    height: 22px;
    width: 22px;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    transform: rotate(45deg);
    margin: 15px auto auto 480px;
  }
  .navigate__nav {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
  }
  .navigate__nav-home {
    text-decoration: none;
    color: white;
    margin: 0 auto 24px;
  }
  .navigate__nav-home_active {
    text-decoration: none;
    border-bottom: 2px solid;
  }
  .navigate__nav-movies {
    color: white;
    text-decoration: none;
    margin: 0 auto 24px;
  }
  .navigate__nav-saved {
    color: white;
    text-decoration: none;
    margin: 0 auto;
  }
  .navigate__account {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 400px auto 92px;
  }
  .navigate__account-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .navigate__profile {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigate__link {
    text-decoration: none;
  }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
  .navigate {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s;
    top: 0px;
    left: 0;
    z-index: 3;
    background-color: #202020;
    display: block;
  }
  .navigate__popup {
    width: 320px;
    height: 780px;
    margin: 0;
  }
    .navigate_opened {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.6s;
  }
  .navigate__exit {
    background-color: #202020;
    border: none;
    color: white;
    height: 22px;
    width: 22px;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    transform: rotate(45deg);
    margin: 13.44px auto auto 280px;
  }
  .navigate__nav {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .navigate__nav-home {
    text-decoration: none;
    color: white;
    margin: 0 auto 24px;
  }
  .navigate__nav-home_active {
    text-decoration: none;
    border-bottom: 2px solid;
  }
  .navigate__nav-movies {
    color: white;
    text-decoration: none;
    margin: 0 auto 24px;
  }
  .navigate__nav-saved {
    color: white;
    text-decoration: none;
    margin: 0 auto;
  }
  .navigate__account {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 250px auto 0;
  }
  .navigate__account-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  .navigate__profile {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigate__link {
    text-decoration: none;
  }
  
}